<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="com.github.lunnox.task-gui">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.github.lunnox.task-gui/css/default.css">
         </property>
         <property
               name="appName"
               value="com.github.lunnox.task-gui">
         </property>
      </product>
   </extension>

</plugin>
